.navigation,.ban{
    background-color: #172442 !important;
    min-height: 100px;
  }
   a{
    color: white !important;
   }
   
   a:hover{
    color: #D14081 !important;
    text-decoration: underline;
   }

   .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }

  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #34b7a7;
    float: left;
    width: 44px;
    height: 44px;
    background: #effbf9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555555;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #34b7a7;
    color: #fff;
  }

  *{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    
   }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: #f3f3f3;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #34b7a7;
  }
   
   .head{
    font-family: 'Oswald', sans-serif !important;
    font-size: 4em;
    color: #172442 !important;
    
   }
   
   .extra{
    color: #DEBC36 !important;
    
   }

   .spann{
    color: #DEBC36 !important;
   }

   .span{
    color: #172442 !important;
   }
   
   .text{
    
    width: 50%;
  
    text-align: left;
    font-size: 20px;
    color: #172442 !important;
      
   }
   
   .top{
    
    text-align: center;
   }
   
   .text2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center !important;
    
    
   }
   
   .offer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center !important;
   }

   .proj{
    align-items: center;
    justify-content: center !important;
   }
   
   .juice{
    background-color: #DEBC36 !important;
   }
   
   .box1{
    display: flex;
    width: 100%;
  
    justify-content: flex-end !important;
   }
   
   .box2{
    display: flex;
    width: 100%;
  
    justify-content: flex-start !important;
    margin-top: -150px;
   }
   
   .box3{
    display: flex;
    width: 100%;
  
    justify-content: flex-end !important;
    margin-top: -150px;
   }
   
   .footer{
    background-color: #172442 !important;

 
   }
  
  .background{
    background-image: url('./bio_images/banner.png');
    height: 337px;
    
    background-size: contain;
    background-repeat: no-repeat;
  }

  .mailing a{
    color: blue !important;
  }

  .phony a{
    color: blue !important;
  }
  
  .drop a{
    color: blue !important;
  }